$color-white-break: #f5f5f5;
$color-black: #333;
$color-border: #e6e6e6;
$color-grey: #afafaf;
$color-orange: #dd4814;
$color-green: #4bc800;
$color-green-hover: #47be00;
$color-blue: #1ca0e9;
$color-blue-hover: #0389cf;
$color-greeen: #1a8c8e;
$color-greeen-clear: #26b999;
$color-bluuue: #2c3e50;
