$color-white-break: #f5f5f5;
$color-black: #333;
$color-border: #e6e6e6;
$color-grey: #afafaf;
$color-orange: #dd4814;
$color-green: #4bc800;
$color-green-hover: #47be00;
$color-blue: #3498db;
$color-blue-hover: #0389cf;
$color-greeen: #1a8c8e;
$color-greeen-clear: #26b999;
$color-bluuue: #2c3e50;

$color-1: #2c3e50;
$color-2: #1a8c8e;
$color-3: #e65a3a;
$color-4: #a05663;
$color-5: #81bcb8;
$color-6: #f0ad4e;
$main-color: $color-1;
