.lists{
  display: inline-block;
  width: 20%;
  .lists-lists{
    li{
      a{
        display: block;
        padding: 15px;
        color: $color-black;
        text-decoration: none;
        border-top: 1px solid $color-white-break;
        border-bottom: 1px solid $color-white-break;
      }
      a:hover{
        background-color: white;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
      }
    }
    .lists-add{
      a{
        color: $color-blue;
        border-top: 1px solid $color-border;
        span{
          margin-right: 5px;
        }
      }
    }
  }
}
.tasks{
  display: inline-block;
  width: 79.7%;
  background-color: white;
  height: 100%;
  border-left: 1px solid $color-border;
  vertical-align: top;
  .tasks-tasks{
    padding: 15px;
    h2{
      border-bottom: 1px solid $color-border;
      font-weight: bold;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .task-add{
      display: block;
      width: 100%;
      padding-bottom: 25px;
      a{
        background-color: $color-blue;
        color: white;
        border-radius: 2px;
        padding: 5px 8px;
        font-size: 14px;
        span{
          margin-right: 5px;
        }
      }
      a:hover{
        text-decoration: none;
      }
    }
    .task-add::after{
      display: block;
      clear: both;
      content: "";
    }
    h3{
      a{
        border-radius: 3px;
        box-sizing: border-box;
        color: $color-grey;
        display: inline-block;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 16px;
        padding: 3px 10px;
        text-transform: uppercase;
        background-color: $color-white-break;
        border: 1px solid $color-border;
        font-size: 14px;
      }
    }
    ol{
      margin: 15px 0 25px;
      .tasks-item{
        border-radius: 3px;
        background-color: $color-border;
        padding: 15px 0 15px 15px;
        margin-bottom: 15px;
        .tasks-item-name{
          margin-left: 15px;
        }
        .tasks-item-button{
          float: right;
          margin-right: 15px;
        }
        .tasks-item-option{
          text-decoration: none;
          .tasks-item-option-logo{
            .blue{
              background-color: $color-blue;
              display: inline-block;
              height: 13px;
              width: 13px;
              border-radius: 2px;
            }
            .orange{
              background-color: $color-orange;
              display: inline-block;
              height: 13px;
              width: 13px;
              border-radius: 2px;
            }
          }
          .tasks-item-option-txt{
            display: none;
          }
        }
        .tasks-item-option:hover{
          text-decoration: none;
        }
      }
    }
  }
}
