header{
  height: 50px;
  .header-menu-logo{
    float: left;
    h1{
      padding: 15px 0;
      a{
        padding: 15px;
        font-family: $font-1;
        color: white;
        text-decoration: none;
        span{
          font-weight: bold;
        }
      }
      a:hover{
        color: $color-white-break;
      }
    }
  }
  .header-menu-nav{
    float: right;
    ul{
      li{
        a{
          display: block;
          padding: 17px 20px 15px 93px;
          text-decoration: none;
          img{
            position: absolute;
            right: 85px;
            display: none;
            top: 16px;
          }
        }
        a:hover ~ .auth-options{
          display: block;
        }
        ul{
          background-color: $main-color;
          margin-top: 15px;
          position: absolute;
          right: 0px;
          top: 35px;
          display: none;
          li{
            a{
              display: block;
              padding: 15px 20px;
              text-decoration: none;
            }
          }
        }
        ul:hover{
          display: block;
        }
      }
    }
    a{
      color: white;
    }
  }
}
