header{
  background-color: $color-bluuue;
  padding: 15px;
  height: 20px;
  .header-menu-logo{
    float: left;
    a{
      color: white;
    }
    a:hover{
      color: $color-white-break;
      text-decoration: none;
    }
  }
  .header-menu-nav{
    float: right;
    a{
      color: white;
    }
  }
}
