@media screen and (max-width: 1466px) {
  /* Dashboard*/
  .tasks .tasks-tasks .task-add .task-form-project {
      width: 85%;
  }
}
@media screen and (max-width: 1466px) {
  /* Dashboard*/
  .tasks .tasks-tasks .task-add .task-form-project {
      width: 84%;
  }
}
@media screen and (max-width: 1280px) {
  /* Home page*/
  .home-a{
    .home-about{
      p{
        width: 60%;
      }
      .home-about-create{
        width: 30%;
      }
    }
  }
}
@media screen and (max-width: 1160px) {
  /* Dashboard*/

  .tasks .tasks-tasks .task-add .task-add-form, .tasks .tasks-tasks .task-add .task-edit-form, .tasks .tasks-tasks .task-add .task-edit-form-date {
    width: 80%;
  }
}
@media screen and (max-width: 1140px) {
  /* Dashboard*/
  .tasks .tasks-tasks .task-add .task-form-project {
      width: 81%;
  }
  .tasks .tasks-tasks .task-add .task-add-submit {
      width: 13%;
  }
}
@media screen and (max-width: 1100px) {
  /* Home page*/
  .home-f{
    .home-features-div-div {
      float: left;
    }
    .home-features-projects, .home-features-responsive{
        img{
          width: 80%;
        }
    }
    .home-features-etiquettes{
      img{
        float: right;
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 1015px) {
  /* Home page*/
  .home-f{
    .home-features-div{
      .home-features-width{
        .home-features-div-div {
          width: 40% !important;
          .home-features-txt{
            p{
              font-size: 1em;
            }
          }
        }
        .home-features-div-img{
          width: 60% !important;
        }
      }
    }
  }
  /* Dashboard */
  .tasks .tasks-tasks .task-add .task-form-project {
    width: 93%;
  }
  .tasks .tasks-tasks .task-add .task-add-submit {
    width: 95px;
  }
}
@media screen and (max-width: 900px) {
  /* Home page*/
  .home-a{
    .home-about{
      p{
        width: 90%;
        font-size: 1.1em;
      }
      .home-about-create{
        width: 45%;
      }
    }
  }
  .home-f{
    .home-features-div{
      .home-features-width{
        width: 97%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  /* Home page*/
  .home-f{
    .home-features-div{
      .home-features-width{
        .home-features-div-div {
          width: 50% !important;
          .home-features-txt{
            margin-top: 25px;
            p{
              font-size: 0.9em;
            }
          }
        }
        .home-features-div-img{
          width: 50% !important;
          img{
            width: 60%;
          }
        }
      }
    }
  }
  /* Dashboard */
  .lists {
    left: -350px;
    background-color: $color-white-break;
    border-right: 1px solid $color-border;
    .auth-responsive{
      display: block;
    }
  }
  .tasks {
    margin-left: 0;
  }
  .header{
    .header-menu-nav{
      ul{
        li{
          a{
            img{
              display: block;
            }
          }
          .auth-options{
            display: none !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 733px) {
  /* Register page*/
  #auth-page .auth .auth-form-register, #auth-page .auth .auth-features {
    display: none;
  }
}
@media screen and (max-width: 695px) {
  /* Home page*/
  .home-a{
    .home-about{
      p{
        width: 92%;
        font-size: 1.1em;
      }
      .home-about-create{
        width: 65%;
      }
    }
  }
  .home-f{
    .home-features-div{
      .home-features-width{
        .home-features-div-div {
          display: block;
          float: none;
          margin: auto;
          width: 90% !important;
          img{
            width: 30px;
          }
          .home-features-txt{
            margin-top: 25px;
            p{
              font-size: 0.9em;
            }
          }
        }
        .home-features-div-img{
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 695px) {
  /* Home page*/
  .home-a{
    .home-about{
      p{
        width: 92%;
        font-size: 0.9em;
      }
      .home-about-create{
        width: 92%;
        a{
          font-size: 1.1em;
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  /* Home page*/
  #home-page{
    .header-home{
      height: 75px;
      .header-home-menu{
        .header-home-menu-nav{
          ul{
            li{
              float: none;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .home-b{
    display: none;
  }
  .home-a{
    padding: 85px 20px 20px;
    .home-about{
      h2{
        color: white;
        display: block;
        font-size: 1.8em;
        margin-bottom: 15px;
        text-align: center;
        span{
          font-weight: bold;
        }
      }
      p{
        width: 92%;
        font-size: 0.9em;
      }
      .home-about-create{
        width: 92%;
        a{
          font-size: 0.9em;
        }
      }
    }
  }

  /* Login Page */
  #auth-page .auth .auth-auth .auth-form, #auth-page .auth .auth-auth .auth-form-register {
    width: 285px;
  }
}
