.title-change-color, .title-change-typo{
  margin-top: 30px;
}
.div-change-color{
  display: block;
  width: 100%;
  .color-actual{
    width: 10px;
    height: 10px;
    display: inline-block;
  }
  .select-color{
    margin-top: 20px;
    li{
      box-sizing: border-box;
      float: left;
      height: 30px;
      margin-bottom: 1em;
      margin-right: 15px;
      width: 30px;
      a{
        border: 1px solid $color-grey;
        display: block;
        height: 29px;
      }
      .unlink{
        text-decoration: none;
      }
      .hide-text{
        overflow: hidden;
        text-indent: 1001%;
        white-space: nowrap;
      }
    }
    .color-1{
      background-color: $color-1;
      color: $color-1;
    }
    .color-2{
      background-color: $color-2;
      color: $color-2;
    }
    .color-3{
      background-color: $color-3;
      color: $color-3;
    }
    .color-4{
      background-color: $color-4;
      color: $color-4;
    }
    .color-5{
      background-color: $color-5;
      color: $color-5;
    }
    .color-6{
      background-color: $color-6;
      color: $color-6;
    }
  }
}
.div-change-color::after{
  display: block;
  clear: both;
  content: "";
}
.div-change-typo{
  ul{
    margin-top: 20px;
    li{
      list-style-type: circle;
      margin-left: 17px;
      margin-top: 10px;
      a{
        color: $color-black;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .typo-lato{
      font-family: $font-1;
    }
    .typo-open{
      font-family: $font-2;
    }
    .typo-roboto{
      font-family: $font-3;
    }
    .typo-montserrat{
      font-family: $font-4;
    }
    .typo-indie{
      font-family: $font-5;
    }
  }
}
