.tasks{
  background-color: white;
  height: 100%;
  border-left: 1px solid $color-border;
  vertical-align: top;
  margin-left: 300px;
  .tasks-tasks{
    padding: 15px;
    h2{
      border-bottom: 1px solid $color-border;
      font-weight: bold;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .task-to-projet{
      font-weight: normal;
    }
    .task-add{
      display: block;
      width: 100%;
      padding-bottom: 25px;
      a{
        background-color: $color-blue;
        color: white;
        border-radius: 2px;
        padding: 5px 8px;
        font-size: 14px;
        span{
          margin-right: 5px;
        }
      }
      a:hover{
        text-decoration: none;
      }
      .task-add-form, .task-edit-form, .task-edit-form-date{
        background-color: white;
        border: 0 none;
        border: 1px solid $color-border;
        color: #222;
        display: block;
        font-family: "Open Sans",Arial,sans-serif;
        font-size: 16px;
        line-height: normal !important;
        margin-bottom: 10px;
        padding: 10px 18px 11px;
        width: 97%;
        border-radius: 2px;
      }
      .task-form-project{
        background-color: white;
        border: 1px solid $color-border;
        border-radius: 2px;
        color: #222;
        float: left;
        font-family: "Open Sans",Arial,sans-serif;
        font-size: 16px;
        line-height: normal !important;
        margin-bottom: 10px;
        padding: 10px 18px 11px;
        width: 85.5%;
      }
      .task-edit-form, .task-edit-form-date{
        margin: 10px 0 25px;
      }
      .task-form-project:focus{
        border: 1px solid grey;
      }
      .task-add-submit{
        border: medium none;
        border-radius: 0 2px 2px 0;
        color: white;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        padding: 13px 20px;
        width: 11%;
      }
      .task-edit-form-label{
        font-size: 16px;
      }
      select{
        border: 1px solid $color-border;
        border-radius: 2px;
        font-size: 16px;
        margin: 10px 0 25px;
        padding: 10px 18px 11px;
      }
      .task-edit-form-date{
        width: 85px;
      }
      .task-show{
        margin-bottom: 30px;
        h3{
          border-bottom: 1px solid $color-greeen;
          display: inline-block;
          margin-bottom: 10px;
          padding-bottom: 10px;
          color: $color-greeen;
        }
      }
      .task-show-edit a{
        background-color: $color-blue;
        border: medium none;
        border-radius: 2px;
        color: white;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        padding: 7px 20px;
        display: inline-block;
        text-decoration: none;
      }
      .task-show-edit a:hover{
        background-color: $color-blue-hover;
      }
    }
    .task-add::after{
      display: block;
      clear: both;
      content: "";
    }
    h3{
      border-radius: 3px;
      box-sizing: border-box;
      color: grey;
      display: inline-block;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 16px;
      padding: 3px 10px;
      text-transform: uppercase;
      background-color: $color-white-break;
      border: 1px solid $color-border;
      font-size: 14px;
      text-decoration: none;
    }
    .tasks-done-title{
      a{
        border-radius: 3px;
        box-sizing: border-box;
        color: grey;
        display: inline-block;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 16px;
        padding: 3px 10px;
        text-transform: uppercase;
        background-color: $color-white-break;
        border: 1px solid $color-border;
        font-size: 14px;
        text-decoration: none;
      }
      a:hover{
        border: 1px solid grey;
      }
    }
    .tasks-done-title{
      margin-top: 15px;
    }
    ol{
      margin: 15px 0;
      .tasks-item{
        border-radius: 3px;
        padding: 15px 0 15px 15px;
        margin-bottom: 15px;
        border: 1px solid $color-border;
        color: white;
        .tasks-item-name{
          margin-left: 15px;
        }
        .tasks-change-name{
          padding: 10px;
          margin-left: 15px;
          font-size: 16px;
        }
        .tasks-item-button{
          float: right;
          margin-right: 15px;
          a{
            margin-left: 8px;
          }
        }
        .tasks-item-infos{
          display: none;
          line-height: 1.2;
          margin-left: 35px;
          margin-top: 30px;
          width: 60%;
          .tasks-item-infos-icon{
            float: left;
          }
          .tasks-item-infos-date {
              margin-bottom: 15px;
          }
          .task-infos{
            p{
              font-size: 0.8em;
              margin-left: 25px;
            }
          }
        }
        .tasks-item-option{
          text-decoration: none;
          .tasks-item-option-logo{
            .blue{
              background-color: $color-blue;
              display: inline-block;
              height: 13px;
              width: 13px;
              border-radius: 2px;
            }
            .orange{
              background-color: $color-orange;
              display: inline-block;
              height: 13px;
              width: 13px;
              border-radius: 2px;
            }
          }
          .tasks-item-option-txt{
            display: none;
          }
        }
        .tasks-item-option:hover{
          text-decoration: none;
        }
      }
    }
    .task-done-submit, .task-edit-form-submit{
      background-color: $color-blue;
      border: medium none;
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 7px 20px;
      cursor: pointer;
      border-radius: 2px;
    }
    .task-done-submit:hover, .task-edit-form-submit:hover{
      background-color: $color-blue-hover;
    }
  }
}

.completed + span {
  text-decoration: line-through;
}
