@mixin color-theme( $main-color ) {
  .header {
    background-color: $main-color;
  }
  .tasks-item {
    background-color: lighten($main-color, 10%);
  }
  .auth-options{
    background-color: $main-color;
  }
  .auth-options li a:hover{
    background-color: darken($main-color, 5%);
  }
  .project-add-submit{
    background-color: $main-color;
  }
  .project-add-submit:hover{
    background-color: darken($main-color, 5%);
  }
  .task-add-submit{
    background-color: $main-color;
  }
  .task-add-submit:hover{
    background-color: darken($main-color, 5%);
  }
}

.default {
  @include color-theme( $color-1 );
}
.color_1 {
  @include color-theme( $color-1 );
}
.color_2 {
  @include color-theme( $color-2 );
}
.color_3 {
  @include color-theme( $color-3 );
}
.color_4 {
  @include color-theme( $color-4 );
}
.color_5 {
  @include color-theme( $color-5 );
}
.color_6 {
  @include color-theme( $color-6 );
}
