/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.default .header {
  background-color: #2c3e50;
}

.color_1 .header {
  background-color: #2c3e50;
}

.color_2 .header {
  background-color: #1a8c8e;
}

.color_3 .header {
  background-color: #e65a3a;
}

.color_4 .header {
  background-color: #a05663;
}

.color_5 .header {
  background-color: #81bcb8;
}

.color_6 .header {
  background-color: #f0ad4e;
}

html {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  height: 100%;
  color: #333;
}

header {
  padding: 15px;
  height: 20px;
}

header .header-menu-logo {
  float: left;
}

header .header-menu-logo a {
  color: white;
}

header .header-menu-logo a:hover {
  color: #f5f5f5;
  text-decoration: none;
}

header .header-menu-nav {
  float: right;
}

header .header-menu-nav a {
  color: white;
}

.lists {
  float: left;
  width: 20%;
}

.lists .lists-lists .lists-scroll-choice {
  margin-top: 15px;
  padding-bottom: 10px;
}

.lists .lists-lists .lists-scroll-choice li {
  float: left;
  width: 50%;
}

.lists .lists-lists .lists-scroll-choice li a {
  background-color: transparent;
  border-bottom: 1px solid #e6e6e6 !important;
  text-align: center;
}

.lists .lists-lists .lists-scroll-choice li a:hover {
  background-color: transparent !important;
  border-top: none !important;
  border-bottom: 1px solid #afafaf !important;
  color: black;
}

.lists .lists-lists .lists-scroll-choice::after {
  display: block;
  clear: both;
  content: "";
}

.lists .lists-lists li {
  position: relative;
}

.lists .lists-lists li a {
  display: block;
  padding: 15px;
  color: #333;
  text-decoration: none;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
}

.lists .lists-lists li a:hover {
  background-color: white;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.lists .lists-lists li span {
  margin-left: 30px;
}

.lists .lists-lists li img {
  position: absolute;
  top: 14px;
}

.lists .lists-lists li .icon-project-edit {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent !important;
}

.lists .lists-lists li .icon-project-edit img {
  position: static;
}

.lists .lists-lists li .icon-project-edit span {
  display: none;
}

.lists .lists-lists li .project-show:hover + .icon-project-edit {
  display: block !important;
}

.lists .lists-lists li .icon-project-edit:hover {
  display: block;
}

.lists .lists-lists .lists-add a {
  color: #3498db;
  border-top: 1px solid #e6e6e6;
}

.lists .lists-lists .lists-add a span {
  margin-right: 5px;
}

.tasks {
  display: inline-block;
  width: 79.7%;
  background-color: white;
  height: 100%;
  border-left: 1px solid #e6e6e6;
  vertical-align: top;
}

.tasks .tasks-tasks {
  padding: 15px;
}

.tasks .tasks-tasks h2 {
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.tasks .tasks-tasks .task-to-projet {
  font-weight: normal;
}

.tasks .tasks-tasks .task-add {
  display: block;
  width: 100%;
  padding-bottom: 25px;
}

.tasks .tasks-tasks .task-add a {
  background-color: #3498db;
  color: white;
  border-radius: 2px;
  padding: 5px 8px;
  font-size: 14px;
}

.tasks .tasks-tasks .task-add a span {
  margin-right: 5px;
}

.tasks .tasks-tasks .task-add a:hover {
  text-decoration: none;
}

.tasks .tasks-tasks .task-add .task-add-form, .tasks .tasks-tasks .task-add .task-edit-form, .tasks .tasks-tasks .task-add .task-edit-form-date {
  background-color: white;
  border: 0 none;
  border: 1px solid #e6e6e6;
  color: #222;
  display: block;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 16px;
  line-height: normal !important;
  margin-bottom: 10px;
  padding: 10px 18px 11px;
  width: 97%;
  border-radius: 2px;
}

.tasks .tasks-tasks .task-add .task-edit-form, .tasks .tasks-tasks .task-add .task-edit-form-date {
  margin: 10px 0 25px;
}

.tasks .tasks-tasks .task-add .task-add-form:focus {
  border: 2px solid #e6e6e6;
}

.tasks .tasks-tasks .task-add .task-add-submit {
  background-color: #1a8c8e;
  border: medium none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 2px;
}

.tasks .tasks-tasks .task-add .task-add-submit:hover {
  background-color: #26b999;
}

.tasks .tasks-tasks .task-add .task-edit-form-label {
  font-size: 16px;
}

.tasks .tasks-tasks .task-add .task-edit-form-date {
  width: 85px;
}

.tasks .tasks-tasks .task-add .task-show {
  margin-bottom: 30px;
}

.tasks .tasks-tasks .task-add .task-show h3 {
  border-bottom: 1px solid #1a8c8e;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #1a8c8e;
}

.tasks .tasks-tasks .task-add .task-show-edit a {
  background-color: #3498db;
  border: medium none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 20px;
  display: inline-block;
  text-decoration: none;
}

.tasks .tasks-tasks .task-add .task-show-edit a:hover {
  background-color: #0389cf;
}

.tasks .tasks-tasks .task-add::after {
  display: block;
  clear: both;
  content: "";
}

.tasks .tasks-tasks h3 a {
  border-radius: 3px;
  box-sizing: border-box;
  color: #afafaf;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 3px 10px;
  text-transform: uppercase;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  font-size: 14px;
}

.tasks .tasks-tasks .tasks-done-title {
  margin-top: 15px;
}

.tasks .tasks-tasks ol {
  margin: 15px 0;
}

.tasks .tasks-tasks ol .tasks-item {
  border-radius: 3px;
  background-color: #2c3e50;
  padding: 15px 0 15px 15px;
  margin-bottom: 15px;
  border: 1px solid #e6e6e6;
  color: white;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-name {
  margin-left: 15px;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-button {
  float: right;
  margin-right: 15px;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-button a {
  margin-left: 8px;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-infos {
  display: none;
  line-height: 1.2;
  margin-left: 35px;
  margin-top: 30px;
  width: 60%;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-infos .tasks-item-infos-icon {
  float: left;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-infos .tasks-item-infos-date {
  margin-bottom: 15px;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-infos .task-infos p {
  font-size: 0.8em;
  margin-left: 25px;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-option {
  text-decoration: none;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-option .tasks-item-option-logo .blue {
  background-color: #3498db;
  display: inline-block;
  height: 13px;
  width: 13px;
  border-radius: 2px;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-option .tasks-item-option-logo .orange {
  background-color: #dd4814;
  display: inline-block;
  height: 13px;
  width: 13px;
  border-radius: 2px;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-option .tasks-item-option-txt {
  display: none;
}

.tasks .tasks-tasks ol .tasks-item .tasks-item-option:hover {
  text-decoration: none;
}

.tasks .tasks-tasks .task-done-submit, .tasks .tasks-tasks .task-edit-form-submit {
  background-color: #3498db;
  border: medium none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 2px;
}

.tasks .tasks-tasks .task-done-submit:hover, .tasks .tasks-tasks .task-edit-form-submit:hover {
  background-color: #0389cf;
}

.completed + span {
  text-decoration: line-through;
}

.auth {
  padding-top: 75px;
  text-align: center;
  font-size: 20px;
}

.auth .auth-auth .auth-form, .auth .auth-auth .auth-form-register {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
  display: block;
  margin: auto;
  width: 350px;
  margin-top: 25px;
  padding: 20px 0;
}

.auth .auth-auth .auth-form .auth-txt label, .auth .auth-auth .auth-form-register .auth-txt label {
  font-size: 16px;
  color: #afafaf;
  float: left;
  margin-bottom: 8px;
  padding: 0 15px;
}

.auth .auth-auth .auth-form .auth-txt input, .auth .auth-auth .auth-form-register .auth-txt input {
  border: 1px solid #e6e6e6;
  display: block;
  margin: 15px auto 25px;
  padding: 8px 15px;
  width: 85%;
  border-radius: 2px;
}

.auth .auth-auth .auth-form .auth-txt input:focus, .auth .auth-auth .auth-form-register .auth-txt input:focus {
  border: 1px solid #3498db;
}

.auth .auth-auth .auth-form .auth-txt input:focus label, .auth .auth-auth .auth-form-register .auth-txt input:focus label {
  color: grey;
}

.auth .auth-auth .auth-form .auth-checkbox, .auth .auth-auth .auth-form-register .auth-checkbox {
  display: block;
}

.auth .auth-auth .auth-form .auth-checkbox label, .auth .auth-auth .auth-form-register .auth-checkbox label {
  color: #afafaf;
  display: block;
  float: left;
  font-size: 16px;
  padding-left: 8px;
}

.auth .auth-auth .auth-form .auth-checkbox::after, .auth .auth-auth .auth-form-register .auth-checkbox::after {
  display: block;
  clear: both;
  content: "";
}

.auth .auth-auth .auth-form .auth-submit, .auth .auth-auth .auth-form-register .auth-submit {
  background-color: #3498db;
  border: medium none;
  border-radius: 2px;
  color: white;
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin: 25px auto auto;
  padding: 8px;
  width: 94%;
  cursor: pointer;
  letter-spacing: 1px;
}

.auth .auth-auth .auth-form .auth-submit:hover, .auth .auth-auth .auth-form-register .auth-submit:hover {
  background-color: #0389cf;
}

.auth .auth-register p {
  color: grey;
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.2;
}

.auth .auth-register a {
  color: #3498db;
  text-decoration: none;
}

.auth .auth-register a:hover {
  color: #0389cf;
  text-decoration: underline;
}

.auth .auth-features {
  display: inline-block;
  width: 380px;
  font-size: 15px;
  text-align: left;
  color: #333;
}

.auth .auth-features ul {
  border-left: 1px solid #afafaf;
  margin-left: 25px;
  padding-left: 25px;
}

.auth .auth-features ul li {
  margin-bottom: 40px;
}

.auth .auth-features ul li h2 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0389cf;
}

.auth .auth-features ul li span img {
  float: left;
}

.auth .auth-features ul li .auth-features-desc {
  margin-left: 72px;
}

.auth .auth-features ul li .auth-features-desc p {
  line-height: 1.2;
}

.auth .auth-form-register, .auth .auth-features {
  vertical-align: middle;
  margin-top: 55px;
}

.auth .auth-auth .auth-form, .auth .auth-auth .auth-form-register {
  display: inline-block !important;
}

#home-page {
  background-color: white;
}

#home-page header {
  background-color: transparent;
  padding: 15px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#home-page header nav {
  display: block;
  margin: auto;
  width: 80%;
}

#home-page header .header-home-menu-logo {
  float: left;
}

#home-page header .header-home-menu-logo a {
  color: white;
  text-decoration: none;
}

#home-page header .header-home-menu-logo a:hover {
  color: #f5f5f5;
}

#home-page header .header-home-menu-nav {
  float: right;
}

#home-page header .header-home-menu-nav li {
  float: left;
  margin-left: 25px;
}

#home-page header .header-home-menu-nav li a {
  color: white;
  text-decoration: none;
}

.home-b {
  height: auto;
  position: relative;
  z-index: -1;
}

.home-f {
  height: auto;
}

.home-a {
  padding: 20px;
}

.home-banner {
  z-index: -1;
  display: block;
  width: 100%;
}

.home-banner .home-banner-txt img {
  width: 100%;
}

.home-banner-bg {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home-banner-bg h2 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
  position: absolute;
  top: 45%;
  left: 40%;
}

.home-banner::after {
  display: block;
  clear: both;
  content: "";
}

.home-a {
  background: #136a8a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #136a8a, #267871);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #136a8a, #267871);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-a .home-about {
  padding: 25px 0;
}

.home-a .home-about p {
  width: 45%;
  display: block;
  margin: auto;
  line-height: 1.2;
  color: white;
  font-size: 1.2em;
}

.home-f .home-features-div {
  padding: 50px 0;
}

.home-f .home-features-div .home-features-width {
  display: block;
  margin: auto;
  width: 80%;
}

.home-f .home-features-div .home-features-width .home-features-div-div {
  width: 49%;
  display: inline-block;
}

.home-f .home-features-div .home-features-width .home-features-div-div img {
  width: 50px;
  float: left;
  margin-right: 25px;
}

.home-f .home-features-div .home-features-width .home-features-div-div h3 {
  color: #1a8c8e;
  margin-top: 15px;
  font-size: 1.4em;
}

.home-f .home-features-div .home-features-width .home-features-div-div .home-features-txt {
  margin-top: 55px;
}

.home-f .home-features-div .home-features-width .home-features-div-div .home-features-txt p {
  font-size: 1.1em;
  line-height: 1.4;
}

.home-f .home-features-div .home-features-width .home-features-div-img {
  display: inline-block;
  width: 50%;
}

.home-f .home-features-div .home-features-width .home-features-div-img img {
  float: right;
}

.home-f .home-features-div .home-features-width .home-features-div-div, .home-f .home-features-div .home-features-width .home-features-div-img {
  vertical-align: middle;
}

.home-features-etiquettes img {
  float: left !important;
}

.home-features-etiquettes {
  background-color: #f5f5f5;
}

footer {
  padding: 75px 15px;
  background-color: #333;
}

footer p {
  color: white;
  font-size: 1.1em;
  text-align: center;
}

footer a {
  color: #1a8c8e;
}

.title-change-color, .title-change-typo {
  margin-top: 30px;
}

.div-change-color {
  display: block;
  width: 100%;
}

.div-change-color .select-color {
  margin-top: 20px;
}

.div-change-color .select-color li {
  box-sizing: border-box;
  float: left;
  height: 30px;
  margin-bottom: 1em;
  margin-right: 15px;
  width: 30px;
}

.div-change-color .select-color li a {
  border: 1px solid #afafaf;
  display: block;
  height: 29px;
}

.div-change-color .select-color li .unlink {
  text-decoration: none;
}

.div-change-color .select-color li .hide-text {
  overflow: hidden;
  text-indent: 1001%;
  white-space: nowrap;
}

.div-change-color .select-color .color-1 {
  background-color: #2c3e50;
  color: #2c3e50;
}

.div-change-color .select-color .color-2 {
  background-color: #1a8c8e;
  color: #1a8c8e;
}

.div-change-color .select-color .color-3 {
  background-color: #e65a3a;
  color: #e65a3a;
}

.div-change-color .select-color .color-4 {
  background-color: #a05663;
  color: #a05663;
}

.div-change-color .select-color .color-5 {
  background-color: #81bcb8;
  color: #81bcb8;
}

.div-change-color .select-color .color-6 {
  background-color: #f0ad4e;
  color: #f0ad4e;
}

.div-change-color::after {
  display: block;
  clear: both;
  content: "";
}
